<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
         http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<!-- 单例 -->
	<bean id="car_singleton" class="com.baobaotao.scope.Car" scope="singleton" />
	<!-- 多例 -->
	<bean id="car_prototype" class="com.baobaotao.scope.Car" scope="prototype" />

	<!-- 单例引用单例 -->
	<bean id="boss_singleton_singleton" class="com.baobaotao.scope.Boss"
		p:car-ref="car_singleton" scope="singleton" />
	
	<!-- 单例引用多例 -->
	<bean id="boss_singleton_prototype" class="com.baobaotao.scope.Boss"
		p:car-ref="car_prototype" scope="singleton" />

	<!-- 多例引用单例 -->
	<bean id="boss_prototype_singleton" class="com.baobaotao.scope.Boss"
		p:car-ref="car_singleton" scope="prototype" />
		
	<!-- 多例引用多例 -->
	<bean id="boss_prototype_prototype" class="com.baobaotao.scope.Boss"
		p:car-ref="car_prototype" scope="prototype" />
		
</beans>
